@import url("style.css");

:root {
  --quote: 16pt; 
  --quote-class: 12pt;
}

section.soapbox, 
.soapbox { column-span: none; column-count: 1; }
.classpic figure { display: none; }
h3.class     { break-before: column; }
.breakbefore { break-before: auto; }
:matches(h1, h2, h3, h4, h5, h6).breakbefore { column-span: none; }
#toc { column-span: none; column-count: 1; }
blockquote { column-span: none; }
.harmony-drive-logo { column-span: none; }
.harmony-drive-logo img { width: 75%; }

.classtable { display: none; }
#cover + h1 { break-before: auto; }

.soapbox :matches(h1, h2, h3, h4, h5, h6):nth-child(-n+2) { column-span:none; }

@page:nth(2) { @bottom-center { content: '- ' counter(page) ' -'; } }
@page:nth(3) { @bottom-center { content: '- ' counter(page) ' -'; } }
@page:nth(3) { @bottom-right { content: 'Version ' string(date); } }
