/* base css file for TTRPG projects */
/* Reminder: 1in = 72 pt; 0.75in = 54pt; 0.5in = 36pt; 0.25in = 18pt; 0.125in = 9 pt; */

@page         { size: 477pt 733pt; margin: 36pt; margin-bottom: 54pt; }
/* @page      { size: letter portrait; margin: 18pt; } */
header        { display: none;                       }
header p.date { string-set: date content()           }
header h1     { string-set: gamename content()       }

@prince-pdf {
  -prince-pdf-profile: "PDF/A-3a+PDF/UA-1";
  -prince-pdf-page-layout: two-column-right;
}

:root {
  --font: "Comic Neue";
  --font-header: "Legio Sabina Semi-Italic";
  --font-coverbox: "Bebas Neue";
  --font-coverbox-qm: "HackeIt Bold";
  --font-subtitle: "Fawn Script";
  --font-hype: "Fawn Script";
  --font-profile: 'Profile';
  --font-quote: "Fawn Script";
  --font-pagenum: "Legio Sabina";
  --font-h1: 'Legio Sabina Semi-Italic';     
  --font-h2: 'Legio Sabina Bevel';    
  --font-h3: 'Legio Sabina Halftone';
  --font-h4: 'Legio Sabina Gradient';   
  --font-h5: 'Fawn Script';
  --font-h6: 'Fawn Script';
  --font-caption: "Legio Sabina Condensed";
  --font-pregens: "Ad Astra";
  --font-what: "Bebas Neue";

  --font-sheet-2: "Legio Sabina Condensed";
  --color-sheet-light: #AAAAAA;
  --color-sheet-lighter: rgba(128, 128, 128, 0.25);

  --color-sheet-dark: #555555;

  --font-sheet-1: "Legio Sabina";
  --font-sheet-4: "Fawn Script";

  --font-gamename: 'Legio Sabina Condensed';
  --icon-thin: 'Font Awesome 5 Free Regular';
  --icon-solid: 'Font Awesome 5 Free Solid';
  --icon-game: 'game-icons';

  --font-icons: 'game-icons';

  --border-radius: 6pt 0;

  --yes-green:   '\00E093';
  --yes-gray:    '\00E093';
  --lock-yellow: '\00EC83';
  --lock-gray:   '\00EC83';
  --no:          '\00E06D';

  --what-size: 10pt; 
  --color-yes: green;
  --color-no: red;
  --color-gray: #808080;
  --color-lock: orange;

  --color-display: teal;
  --color-stunt: blue;
  --color-combo: purple;

  --iant: '\00fe0f';
  --font-icons-media: 'fontcustom';

  --lime: rgba(128, 255, 0, 0.5);

  --table-icon-size: 14pt;
  --table-cost-size: 7pt;

  --body:       9pt;
  --larger:    10pt;
  --smaller:    8pt;
  --small:      7pt;
  --large:     11pt;
  --title:     54pt;
  --subtitle:  26pt;
  --subsubtitle: 28pt;
  --hype:      28pt;
  --h1:        24pt; 
  --h2:        22pt;
  --h3:        16pt;
  --h4:        14pt;
  --h5:        13pt;
  --h6:        11pt;
  --th:         9pt;
  --td:         9pt;
  --pagenum:   20pt;
  --quote:     24pt;
  --quote-class: 16pt;
  --caption:   10pt;
  --pregen: 12pt;
  --pregen-facet: 50pt;
  --pregen-name: 30pt;
  --pregen-name-shrink: 25pt;
  --pregen-name-shrink2: 20pt;
  --pregen-class: 20pt;
  --pregen-class-shrink: 18pt;
  --pregen-small: 10pt;

  --sheet-small: 9pt;
  --sheet: 11pt;
  --sheet-larger: 13pt;
  --sheet-large: 16pt;
  --sheet-huge: 32pt; 
  --sheet-box: 14pt;
  --sheet-tiny: 7pt;

  --color-line:    gray;
  --color-light:   silver;

  --bgcolor-sidebar: #F0F0F0;

  counter-reset: table figure sidebar;
}

body               { font-family: var(--font); font-size: var(--body);      }
td                 { font-size: var(--td); vertical-align: top;           }
th                 { font-family: var(--font); font-size: var(--th); }
h1                 { font-family: var(--font-h1); font-size: var(--h1); }
h2                 { font-family: var(--font-h2); font-size: var(--h2); }
h3                 { font-family: var(--font-h3); font-size: var(--h3); }
h4                 { font-family: var(--font-h4); font-size: var(--h4); }
h5                 { font-family: var(--font-h5); font-size: var(--h5); }
h6                 { font-family: var(--font-h6); font-size: var(--h6); }
body               { column-count: 2; column-width: auto; column-gap: 24pt; }
h1                 { break-after: avoid-page; break-inside: avoid;          }
h2, h3, h4, h5, h6 { break-inside: avoid; break-after: avoid;               margin-bottom: 0.25em; margin-top: 0.75em; font-weight: normal; }
h1                 { column-span: all; text-align: center;                  }
.breakbefore       { break-before: page; margin-top: 0; }                   
.colbefore         { break-before: column; margin-top: 0;                   }
.nobreak           { break-before: avoid-page;                              }
.nocolbreak        { break-before: avoid-column;                            }
.colspan           { column-span: all;                                      }
.bottom            { column-span: all; float: page-bottom;                  }
p+table            { break-before: avoid-page;                              }
table              { border-collapse: collapse; break-inside: avoid-page;   }
table tr           { break-inside: avoid-page;                              }
table thead        { break-after: avoid;                                    }
table thead        { }
table th, table td { padding: 2pt;                                          }
table th           { vertical-align: bottom;                                }
table td           { vertical-align: top;                                   }
p { margin-top: 0.25em; margin-bottom: 0.5em; }

#cover + h1   { counter-reset: page; counter-increment: page; break-before: right; margin: 0; }

:matches(h1, h2, h3, h4, h5, h6).breakbefore { column-span: all; }

h2.breakbefore { margin-bottom: 0.5em; text-align: center; }

h3.class { font-size: var(--h2); font-family: var(--font-h2); margin-bottom: 0.5em; text-align: center; break-before: left; }

h4.class { font-size: var(--h3); font-family: var(--font-h3); margin-bottom: 0.5em; text-align: center; }

li           { break-inside: avoid; }
ul, ol       { margin-left: 1em;    }
ul li, ul ol { margin-left: 1em;    }

.sidebar p { margin-top: 4pt; margin-bottom: 0; line-height: 1.1; font-size: var(--smaller); }

.sidebar { 
  float-placement:   top;
  float-reference:   column;
  border:            0.5pt solid var(--color-line);
  border-radius:     var(--border-radius);
  padding-left:      9pt;
  padding-right:     9pt;
  padding-bottom:    6pt;
  margin-bottom:     9pt;
  background:        var(--bgcolor-sidebar);
}

.sidebar.next { float-defer-column: 1; }
.sidebar :matches(h1, h2, h3, h4, h5, h6)    { font-weight: bold; font-family: var(--font-h4); font-size: var(--h4); }

p, li { orphans: 3; line-height: 1.30; }

@page { @bottom-center {
  content:         '- ' counter(page) ' -';
  font-family:     var(--font-pagenum);
  font-size:       var(--pagenum);
  margin-top:      18pt;
  margin-bottom:   18pt;
  text-align:      center;
} }

@page { @bottom-right {
  content:         'Version ' string(date);
  font-family:     var(--font);
  font-size:       var(--small);
  color:           var(--color-light);
  text-align:      right;
} }

@page:nth(3) { margin-top: 36pt; }
@page:nth(3) { @bottom-center { content: normal; }  }
@page:nth(3) { @bottom-right   { content: normal; }  }


figure figcaption { 
  counter-increment: figure; 
  display: none; 
  text-align: outside;
  font-size: var(--caption); 
  font-family: var(--font-caption); 
}

#toc {
  column-span: all; float: top;
  float-defer-page: 1;
  column-count: 2; column-width: auto; column-gap: 9pt;
  margin-bottom: 1em;
  background-color: var(--bgcolor-sidebar);
  border-radius: var(--border-radius);
  border: 0.5pt solid var(--color-line);
  padding-right: 6pt;
  padding-top: 4pt;
  padding-bottom: 4pt; 
}

#toc a:before    { content: target-content(attr(href)) ' ';                        }
#toc a:after     { content: leader('. ') target-counter(attr(href), page);         }
#toc ul          { margin-left: 0;                                                 }
#toc ul li       { list-style-type: none; line-height: 1.1; font-family: var(--font); }
#toc ul ul li    { margin-left: 8pt; font-weight: normal;                          }
#toc ul ul ul li { font-size: var(--smaller);                                      }
#toc > ul > li   { margin-bottom: 4pt; font-size: var(--larger); font-family: var(--font-h2); }
#toc a:link,
#toc a:visited,
#toc a:active,
#toc a:hover { color: black; }

#toc ul { -prince-pdf-tag-type: TOC; }
#toc li { -prince-pdf-tag-type: TOCI; }

#toc :matches(h1, h2, h3, h4, h5, h6) {
  font-size: var(--h3);
  column-span: all;
  font-family: var(--font-h1);
  font-weight: normal;
  margin-top: 0;
  padding-left: 4pt; 
}

.tstoolkit .icon { white-space: pre; font-weight: bold; line-height: none; }
.tstoolkit .icon:after { font-family: var(--icon-solid); padding-left: 0.25em; display: inline-block; font-weight: normal; }

.tstoolkit .rewind:after { content: '\f04a'; }
.tstoolkit .ff:after     { content: '\f050'; }
.tstoolkit .pause:after  { content: '\f04c'; }
.tstoolkit .resume:after { content: '\f04b'; }

.license { column-span: all; column-count: 3; column-gap: 12pt; font-size: var(--small); page: license; }

.anchor { position: absolute; color: transparent; }

.license h2      { font-size: var(--large); column-span: all; margin-bottom: 3pt; }
.license h3      { font-size: var(--larger);          }
.license li      { break-inside: auto;                }
.license > ol    { margin-left: 9pt;                  }
.license > ol ol { margin-left: 6pt;                  }
.license > ol li { margin-left: 6pt;                  }
.license ol p    { margin-top: 0; margin-bottom: 2pt; }
.license p       { text-align: justify;               }

@page license    { margin: 24pt; padding: 0; }
@page license { @top-left  { content: normal; }  }
@page license { @top-right { content: normal; }  }

/* a:link, a:active, a:visited, a:hover { text-decoration: none; color: black; } */
 *
a:link    { text-decoration: none; color: blue;   }
a:active  { text-decoration: none; color: red;    }
a:visited { text-decoration: none; color: purple; }
a:hover   { text-decoration: none; color: red;    }

.gamename:before { content: string(gamename); font-family: var(--font-gamename); }

.cw:before {  /* content warning */
  font-family: var(--icon-solid);
  content: '\f071';
  display: inline-block;
  margin-right: 0.5em;
  color: #EEDD00;
}

.inclu:before { /* notes on inclusion */
  font-family: var(--icon-solid);
  content: '\f0ac';
  display: inline-block;
  margin-right: 0.5em;
  color: #BB00BB;
}

@page :first { margin: 0; }
@page :first { @top-left      { content: normal; } }
@page :first { @top-right     { content: normal; } }
@page :first { @bottom-center { content: normal; } }

#cover { break-after: page; width: 477pt; height: 733pt; 
position: relative; 
}
@page :first {
  background-image: url("../art/rainbow.svg");
  background-repeat: no-repeat;
  background-size: auto 130%;
  background-position: center 20%;
}

#cover h1 { 
  position: absolute; 
  top: 2in; left: 0; right: 0;
  text-align: center; 
  font-size: var(--title); 
  color: transparent;
}

#coverbox { 
  height: 205pt;
  width: 84pt;
  box-sizing: border-box;
  position: absolute;
  top: 20pt;
  left: 0pt;
  border: 2pt solid black;
  background-color: white;
  font-family: var(--font-coverbox);
}

#coverbox ul {
  margin: 0;
}

#coverbox ul li {
  margin: 0;
  list-style-type: none;
  position: absolute;
  box-sizing: border-box;
  text-align: center;
}

#coverbox ul li:nth-child(3) em { font-style: normal; position: relative; top: -6pt; font-family: "Amor E"; font-size: 80%; }

#coverbox ul li:nth-child(1) { top: -4pt; right: 0; left: 0; font-weight: 900; font-size: 25pt; text-align: center; }
#coverbox ul li:nth-child(2) { top:  2pt; right: 0; left: 0; font-size: 38pt; text-align: center; transform: scaleY(0.33); }

#coverbox ul li:nth-child(3) { top: 152pt; right: 34pt; left: 0; bottom: 0; 
  font-size: 24pt; 
  transform: scaleY(0.6);
}

#coverbox ul li:nth-child(4) { top: 171pt; left: 0; right: 32pt; font-size: 19pt; transform: scaleY(0.6); }
#coverbox ul li:nth-child(5) { top: 183pt; left: 0; right: 32pt; font-size: 17pt; transform: scaleY(0.5); }
#coverbox ul li:nth-child(6) { top: 162pt; right: 0; left: 48pt; bottom: 0;
  padding: 2pt;
  border-left: 2pt solid black;
  font-size: 7pt;
  line-height: 0.85;
}

#coverbox ul li:nth-child(7) { top: 161pt; right: 0; left: 0; bottom: 0; border-top: 2pt solid black; }

#coverbox ul li:nth-child(n+8) { 
  font-size: 48pt; 
  font-family: var(--font-coverbox-qm); 
color: crimson; }

#coverbox ul li:nth-child( 8) { top: 60pt; left: 0; right: 0; }
#coverbox ul li:nth-child( 9) { top: 24pt; left: 4pt; }
#coverbox ul li:nth-child(10) { top: 24pt; right: 4pt; }
#coverbox ul li:nth-child(11) { top: 96pt; left: 4pt; }
#coverbox ul li:nth-child(12) { top: 96pt; right: 4pt; }

/*
*/

#cover h2 { 
  position: absolute; 
  top: 12pt; left: 84pt; right: 8pt;
  text-align: center; 
  font-size: var(--subtitle); 
  font-family: var(--font-subtitle);
  text-transform: uppercase;
  font-style: italic;
}

#cover h3 { 
  position: absolute; 
  top: 8in; left: 0; right: 0;
  text-align: center; 
  font-size: var(--subsubtitle); 
}

#cover .hype { }
#cover .hype ul { margin: 0; }
#cover .hype ul li { text-transform: uppercase; margin: 0; list-style-type: none; position: absolute; font-size: var(--hype); font-family: var(--font-hype); }

#cover .hype strong { font-size: 125%; }
#cover .hype ul li:nth-child(1) { top: 270pt; left: 36pt; transform: rotate(-10deg); }
#cover .hype ul li:nth-child(2) { top: 390pt; right: 36pt; transform: rotate(10deg); }
#cover .hype ul li:nth-child(3) { top: 510pt; left: 36pt; transform: rotate(-10deg); }

#cover .hype ul li:nth-child(4) { top: 640pt; left: 0; right: 0; text-align: center; }

#cover img#img-title { 
  position: absolute; 
  top: 64pt; left: 84pt; 
  height: auto; 
  width: 393pt; /* 477 - 84 */
  z-index: 100;
}

.lorem { 
  content: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. '
           'Curabitur ornare ex nisi, sit amet aliquet libero bibendum non. '
           'Ut tempor pretium ex. ';
}

#cover img#img-cover { display: none; }

@page:blank { @top-left { content: normal; } }
@page:blank { @top-right { content: normal; } }
@page:blank { @bottom-center { content: normal; } }

@page:nth(2) { @bottom-center { content: '- i -'; } }

a.onpage { content: 'on page ' target-counter(attr(href), page); }

#toc-glossary { column-span: all; }

.glossary ul { margin: 0; }
.glossary ul li { margin: 0; text-indent: 1em; list-style-type: none; margin-bottom: 0.2em; }

blockquote p { line-height: 1.0; margin: 0; }

blockquote { 
  line-height: 1.0;
  margin-top: 0;
  padding: 0;
  font-family: var(--font-quote);
  font-size: var(--quote);
  column-span: all;
  margin-top: 0.5em;
  margin-left: 15%;
  margin-right: 15%;
  text-align: center; 
  font-style: italic;
}

#power-table       { float: page top; margin-bottom: 1em; column-span: all; }

#power-table h3 { display: inline-block; width: 39%; font-size: var(--h3); font-family: var(--font-h3); vertical-align: top; margin: 0; box-sizing: border-box; } 

#power-table table.power-table { width: 100%; }

#power-table table.power-table thead       {                         }
#power-table table.power-table thead tr    {                         }
#power-table table.power-table thead tr th { vertical-align: bottom; padding-left: 2pt; padding-right: 2pt; border-bottom: 0.5pt solid #e0e0e0; }
#power-table table.power-table thead tr th:nth-child(n+2) { width: 10%; }

#power-table table.power-table tbody                 {                                                                        }
#power-table table.power-table tbody:nth-child(odd) { background-color: #f0f0f0;                                             }
#power-table table.power-table tbody tr              {                                                                        }
#power-table table.power-table tbody tr th           { text-align: left;   vertical-align: top; padding: 0; padding-left: 2pt; padding-right: 2pt; white-space: pre;  }
#power-table table.power-table tbody tr td           { text-align: center; vertical-align: top; padding: 0; padding-left: 2pt; padding-right: 2pt;                   }
#power-table table.power-table tbody tr td:nth-child(n+1) { width: 10%; }
#power-table table.power-table tbody tr th:nth-child(n+1) { width: 10%; }
#power-table table.power-table tbody:nth-child(odd) tr td:nth-child(2n+3) { background-color: #e0e0e0; }
#power-table table.power-table tbody:nth-child(even)  tr td:nth-child(2n+3) { background-color: #e8e8e8; }

#power-table table.power-table tbody tr.cost           {                                                       }
#power-table table.power-table tbody tr.cost td        { font-size: var(--table-cost-size);                    }
#power-table table.power-table tbody tr.cost th        { font-size: var(--table-cost-size); text-align: right; }
#power-table table.power-table tbody tr.cost td        {                                                       }
#power-table table.power-table tbody tr.cost td.na     { content: '--';                                        }
#power-table table.power-table tbody tr.cost td.might0 { content: 'Might 0';                                   }
#power-table table.power-table tbody tr.cost td.might1 { content: 'Might 1';                                   }

#power-table table.power-table tbody tr.main              {                                                                       }
#power-table table.power-table tbody tr th.main { font-weight: normal; } 
#power-table table.power-table tbody tr.main td           { font-family: var( --font-icons  ); font-size: var(--table-icon-size); }
#power-table table.power-table tbody tr.main td.yes       { content:     var( --yes-green   ); color: var(--color-yes);           }
#power-table table.power-table tbody tr.main td.yes.gray  { content:     var( --yes-gray    ); color: var(--color-gray);          }
#power-table table.power-table tbody tr.main td.no        { content:     var( --no          ); color: var(--color-no);            }
#power-table table.power-table tbody tr.main td.lock      { content:     var( --lock-yellow ); color: var(--color-lock);          }
#power-table table.power-table tbody tr.main td.lock.gray { content:     var( --lock-gray   ); color: var(--color-gray);          }

#power-table table.power-table tbody.use-type tr td.combo   { background-color: var(--color-combo); }
#power-table table.power-table tbody.use-type tr td.stunt   { background-color: var(--color-stunt);   }
#power-table table.power-table tbody.use-type tr td.display { background-color: var(--color-display); }
#power-table table.power-table tbody.use-type tr td { height: 5pt; vertical-align: bottom; color: white; font-weight: bold; font-size: var(--body); padding-bottom: 1pt;}
#power-table table.power-table tbody.use-type tr:nth-child(3) td:nth-child(2) { background-color: transparent; }
#power-table table.power-table tbody.use-type:nth-child(even) { background-color: transparent; }

#power-table table.power-key { width: 60%; margin-top: 0.5em; margin-bottom: 0.5em; box-sizing: border-box; border: 0.5pt solid var(--color-line); display: inline-table; }
#power-table table.power-key thead { border-bottom: 0.5pt solid var(--color-line); }

#power-table table.power-key tbody tr th           { font-family: var(--font-icons); vertical-align: top;      }
#power-table table.power-key tbody tr th.yes       { content: var(--yes-green);      color: var(--color-yes);  }
#power-table table.power-key tbody tr th.yes.gray  { content: var(--yes-gray);       color: var(--color-gray); }
#power-table table.power-key tbody tr th.lock      { content: var(--lock-yellow);    color: var(--color-lock); }
#power-table table.power-key tbody tr th.lock.gray { content: var(--lock-gray);      color: var(--color-gray); }
#power-table table.power-key tbody tr th.no        { content: var(--no);             color: var(--color-no);   }

#power-table table.power-key td              { box-sizing: border-box; padding-left: 1pt; padding-right: 1pt; vertical-align: top; }
#power-table table.power-key td { padding: 0; font-size: var(--smaller); }
#power-table table.power-key td:nth-child(1) { width: 15%; text-align: center; }
#power-table table.power-key td:nth-child(2) { width: 60%; text-align: left; }
#power-table table.power-key td:nth-child(3) { width: 25%; text-align: left; white-space: pre; }

#power-table table.power-key th              { box-sizing: border-box; }
#power-table table.power-key th { font-size: var(--smaller); }
#power-table table.power-key th { padding: 0; text-align: left; padding-left: 1pt; padding-right: 1pt;  } 
#power-table table.power-key th:nth-child(1) { width: 15%; text-align: center; }
#power-table table.power-key th:nth-child(2) { width: 60%; text-align: left; }
#power-table table.power-key th:nth-child(3) { width: 25%; text-align: left;  }

.skill-list dl dt { font-family: var(--font-h5); font-size: var(--h5); 
margin-top: 1em; }
.skill-list dl dd { margin: 0; padding: 0; }
.skill-list dl dd p { margin: 0.5em 0; }
.skill-list dl dd ul { margin: 0; }
.skill-list dl dd ul li { margin-left: 1em; list-style-type: circle; }
.skill-list dl dd ul li::marker { padding-right: 0.25em; }

.ability-list dl { margin-top: 0.25em; margin-bottom: 0.25em; }

.ability-list dl dt { font-family: var(--font-h5); font-size: var(--h5);  font-weight: normal;
margin-top: 1em; break-after: avoid; break-inside: avoid; }
.ability-list dl dd { margin: 0; padding: 0; break-before: avoid; break-inside: avoid; }
.ability-list dl dd p { margin: 0; margin-bottom: 0.5em; line-height: 1.2; }
.ability-list dl dd p:first-child { padding-top: 0.125em; }
.ability-list dl dd p:last-child { margin-bottom: 3pt; }

.ability-list dl dd ul { margin: 0; }
.ability-list dl dd ul li { margin-left: 1em; list-style-type: circle; }
.ability-list dl dd ul li::marker { padding-right: 0.25em; }

.ability-list dl dt {
  border: 0.5pt solid var(--color-line); 
  border-bottom: none;
  border-radius: var(--border-radius) 0;
  padding: 0 4pt;
  margin-bottom: 0;
  background-color: var(--bgcolor-sidebar);
}

.ability-list dl dd {
  border: 0.5pt solid var(--color-line); 
  border-top: none;
  padding: 0 4pt; 
  border-radius: 0 0 var(--border-radius);
  margin-top: 0;
  background-color: var(--bgcolor-sidebar);
}

.soapbox {
  column-span: all;
  column-count: 2;
  column-width: auto;
  column-gap: 12pt;
  float-placement:   bottom;
  float-reference:   page;
  padding: 3pt;
  padding-left:      9pt;
  padding-right:     9pt;
  padding-bottom:    6pt;
  margin-bottom:     9pt;
  margin-top: 1em;
  margin-bottom: 1em;
  background:        var(--bgcolor-sidebar);
  border-radius: var(--border-radius);
  border: 0.5pt solid var(--color-line);
}

.soapbox.small { column-span: none; column-count: auto; float-placement: top; float-reference: column; float-defer-column: outside; }

.soapbox :matches(h1, h2, h3, h4, h5, h6):nth-child(-n+2):before {
  content: "Spindrift's Soapbox: ";
}

.soapbox :matches(h1, h2, h3, h4, h5, h6):nth-child(-n+2) { 
margin-bottom: 0.25em; column-span: all; 
  font-family: var(--font-h4);
  font-size: var(--h4);
}

.soapbox :matches(h1, h2, h3, h4, h5, h6) {
  font-family: var(--font-h5);
  font-size: var(--h5);
  margin-top: 0;
}

.soapbox dl dt { font-family: var(--font-h5); font-size: var(--h5); 
margin-top: 1em; }
.soapbox dl dd { margin: 0; padding: 0; }
.soapbox dl dd p { margin: 0.5em 0; }


.twocolumn { column-count: 2; column-gap: 1em; break-inside: avoid; }
.twocolumn ul { break-inside: auto; margin: 0; margin-left: 0.5em; }
.twocolumn table { break-inside: auto; }

.cpw { column-count: 2; column-gap: 1em; break-inside: avoid; }
.cpw ul { break-inside: auto; margin: 0; }
.cpw ul li { list-style-type: none; }

.harmony-drive-logo {
  column-span: all;
  text-align: center; 
  margin-bottom: 1em;
} 

.harmony-drive-logo img {
  width: 35%;
  height: auto;
}

.classtable {
  width: 100%;
  column-span: all;
  margin-bottom: 1em;
}

.classtable thead { border-bottom: var(--color-line); }
.classtable tbody tr:nth-child(even) { background-color: #f0f0f0; }
.classtable :matches(th, td) { padding: 1pt; }
.classtable a:link, .classtable a:visited, .classtable a:hover, .classtable a:visited {
  color: black;
}

.classdata blockquote {
  font-size: var(--quote-class);
}

.classpic figure {
  float: column top;
  -prince-float-defer-column: outside;
  margin-bottom: 2em;
}
.classpic figure figcaption { display: block; }
.classpic figure img { width: 100%; height: auto; } 

.classpic.wide figure { 
  float: page bottom;
  column-span: all;
  margin-top: 2em;
}

.herosheet { page: herosheet; column-span: all; }
@page herosheet { margin: 0; size: letter landscape; }
@page herosheet { @bottom-right     { content: normal; } }
@page herosheet { @top-left      { content: normal; } }
@page herosheet { @bottom-center { content: normal; } }

@page herosheet { 
  background-image: url("../art/clu-herosheet.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
}

.herosheet .clu-logo { 
  height: 0.620in;
  width: auto;
  position: absolute;
  top: 0.25in;
  left: 0.25in; 
}

.herosheet .hd-logo {
  height: 0.600in;
  width: auto;
  position: absolute;
  top:   0.25in;
  right: 0.48in;
}

.herosheet .hd-logo-copy {
  transform-origin: top right;
  transform: rotate(-90deg);
  position: absolute;
  right: 0.5in;
  top: 5.0in;
  color: var(--color-sheet-light);
  font-size: var(--sheet-tiny);
  font-family: var(--font);
}

.herosheet .copy-art {
  transform-origin: top right;
  transform: rotate(-90deg);
  position: absolute;
  right: 0.5in;
  top: 3.5in;
  color: var(--color-sheet-light);
  font-size: var(--sheet-tiny);
  font-family: var(--font);
}

.herosheet .label {
  display: block;
  position: absolute;
  width: auto;
  color: var(--color-sheet-light);
  font-family: var(--font-sheet-2);
  font-size: var(--sheet);
}

.herosheet .label.section {
  font-size: var(--sheet-huge);
  color: var(--color-sheet-lighter);
  left: 4.0in; 
  width: 3.0in; 
  text-align: center; 
}

.herosheet .label.facet {
  font-size: var(--sheet-large);
  color: var(--color-sheet-dark);
  width: 1.0in;
  text-align: center;
  letter-spacing: -0.5pt;
}

.herosheet .label.motiv { font-size: var(--sheet-small); }

/*
 */
.herosheet .label.facet.action    { top:    0.25in; left:  2.75in; }
.herosheet .label.facet.adventure { top:    0.25in; right: 2.75in; }
.herosheet .label.facet.suspense  { top:    3.25in; left:  1.00in; }
.herosheet .label.facet.detective { top:    3.25in; right: 1.00in; }
.herosheet .label.facet.mystery   { bottom: 1.70in; left:  5.00in; }
 
.herosheet .label.might-max  { top: 3.18in; right: 0.55in; }
.herosheet .label.health-max { top: 3.18in; left:  0.55in; }

.herosheet .label.nickname      { top: 0.875in; right: 0.55in; }
.herosheet .label.class         { top: 0.875in; left:  0.55in; }
.herosheet .label.pronouns      { top: 1.505in; right: 0.55in; }
.herosheet .label.volume        { top: 1.505in; left:  0.55in; }
.herosheet .box.b5.volume-boxes { top: 1.750in; left:  0.55in; }

.herosheet .label.name          { top: 1.35in; width: 3in; left: 4in; text-align: center; }

/* these appear reversed because we're measuring from the other side,
 * so that they align correctly
 */

.herosheet .label.skills           { top: 1.790in; right: 7.55in; font-size: var(--sheet-large); }
.herosheet .label.fighting-styles  { top: 1.810in; left:  7.55in; }

.herosheet .label.section.power-words { top: 2.450in; }
.herosheet.pregen .label.section.power-words {
  top: 1.75in; 
  font-size: var(--sheet-large);
}

.herosheet .label.core           { top: 1.550in; right: 5.55in; font-size: var(--sheet-large); }
.herosheet .label.personal       { top: 1.550in; left:  5.55in; font-size: var(--sheet-large); }
.herosheet .label.nova           { top: 2.73in;  left: 3.55in;  font-size: var(--sheet-large); }
.herosheet .box.b1.nova-unlocked { top: 3.52in;  left:  3.55in; }
.herosheet .label.nova-unlocked  { top: 3.54in;  left:  3.75in; }

.herosheet .label.symbol { display: none; }
/* .herosheet.pregen .label.nova     { top: 2.73in; } */
/*
*/

.herosheet .box { display: block; position: absolute; 
  color: var(--color-sheet-dark);
  font-size: var(--sheet-box);
}
.herosheet.box.b1 { width: 0.125in; text-align: center; }
.herosheet .box.b1:before { content: '\002610 '; }
.herosheet .box.b5:before { content: '\002610\002610\002610\002610\002610 '; }

.herosheet.pregen .box.b5:before { content: '\002612\002610\002610\002610\002610 '; }


.herosheet .label.m1 { top:    1.39in; left:  2.05in; } .herosheet .box.m1 { top:    1.50in; left:  2.09in; }
.herosheet .label.m2 { top:    1.39in; right: 4.18in; } .herosheet .box.m2 { top:    1.50in; right: 4.22in; }

.herosheet .label.m3 { top:    4.38in; left:  0.30in; } .herosheet .box.m3 { top:    4.50in; left:  0.34in; }
.herosheet .label.m4 { top:    4.38in; right: 2.43in; } .herosheet .box.m4 { top:    4.50in; right: 2.47in; }

.herosheet .label.m5 { bottom: 0.70in; left:  4.30in; } .herosheet .box.m5 { bottom: 0.50in; left:  4.34in; }


.herosheet .label.section.abilities { top: 4.850in; }
.herosheet .label.class-ability     { top: 3.76in; right: 5.55in; }
.herosheet .label.volume-ability.v1 { top: 3.76in; left: 5.55in; }
.herosheet .label.volume-ability.v2 { top: 4.62in; right: 5.55in; }
.herosheet .label.volume-ability.v3 { top: 4.62in; left:  5.55in; }
.herosheet .label.volume-ability.v4 { top: 5.62in; right: 5.55in; }
.herosheet .label.volume-ability.v5 { top: 5.62in; left:  5.55in; }
.herosheet.pregen .label.section.abilities { display: none; }
.herosheet.pregen .label.class-ability:after { content: ' Ability'; }
.herosheet.pregen .label.volume-ability:after { content: ' Ability'; }
.herosheet.pregen .label.class-ability { top: 4.43in; }
.herosheet.pregen .label.volume-ability.v1 { top: 4.43in; }

.herosheet .box.b1.arc-complete { bottom: 0.74in; left: 0.55in; }
.herosheet .label.arc-complete { bottom: 0.76in; left: 0.75in; }

.herosheet .label.health { 
  color: var(--color-sheet-dark); 
  top: 2.100in; 
  left: 0.53in; 
  font-size: var(--sheet-large); 
}
.herosheet .label.might  { 
  color: var(--color-sheet-dark); 
  top: 2.100in; 
  right: 0.53in; 
  font-size: var(--sheet-large); 
}

.herosheet .label.story-arc { 
  bottom: 3.42in; 
  left: 0.55in; 
  font-size: var(--sheet-large); 
}

.herosheet .label.bio { 
  bottom: 3.42in; 
  right: 0.55in; 
  font-size: var(--sheet-large); 
}

.herosheet .label.story-arc,
.herosheet .label.bio,
.herosheet .label.nova,
.herosheet .label.core,
.herosheet .label.personal,
.herosheet .label.class,
.herosheet .label.volume,
.herosheet .label.skills,
.herosheet .label.nickname,
.herosheet .label.pronouns,
.herosheet .label.class-ability,
.herosheet .label.volume-ability,
.herosheet .label.fighting-styles { color: var(--color-sheet-dark); }

.herosheet .goal { display: none; }

.herosheet .ethos { display: none; }

.herosheet .safety:before,
.herosheet .safety:after  { 
  font-size: 125%; 
  line-height: none; 
  font-family: var(--font-icons-media); 
  position: relative;
  display: inline-block;
  top: 1.5pt;
  color: var(--color-sheet-dark);
}

.herosheet .safety:before { margin-right: 3pt; }
.herosheet .safety:after  { margin-left: 3pt; }

.herosheet .safety.s1 { left: 0.50in; bottom: 0.55in; }
.herosheet .safety.s2 { right: 6.90in; bottom: 0.55in; }
.herosheet .safety.s3 { left: 6.90in; bottom: 0.55in; }
.herosheet .safety.s4 { right: 0.50in; bottom: 0.55in; }
.herosheet .safety.s1:before { content: ''; }
.herosheet .safety.s2:before { content: ''; }
.herosheet .safety.s3:after  { content: ''; }
.herosheet .safety.s4:after  { content: ''; }

.herosheet .crisis    { left: 0.55in; font-size: var(--sheet-small); display: none; }
.herosheet .crisis.c0 { top: 4.40in; color: var(--color-sheet-dark); }
.herosheet .crisis.c5 { top: 4.54in; }
.herosheet .crisis.c4 { top: 4.66in; }
.herosheet .crisis.c3 { top: 4.78in; left: 0.56in; }
.herosheet .crisis.c2 { top: 4.90in; left: 0.56in; }
.herosheet .crisis.c1 { top: 5.02in; left: 0.59in; color: var(--color-sheet-dark); }
.herosheet .crisis.cht { top: 5.15in; left: 0.70in; }
.herosheet .crisis.cct { top: 5.28in; left: 0.70in; }
.herosheet .crisis.cpost { top: 5.42in; color: var(--color-sheet-dark); }


.herosheet .act    { right: 0.55in; font-size: var(--sheet-small); display: none; }
.herosheet .act.aht { top: 4.40in; color: var(--color-sheet-dark); }
.herosheet .act.a1 { top: 4.54in; }
.herosheet .act.a2 { top: 4.66in; }
.herosheet .act.a3 { top: 4.78in; }
.herosheet .act.a4 { top: 4.90in; }
.herosheet .act.a5 { top: 5.02in; }
.herosheet .act.act { top: 5.18in; color: var(--color-sheet-dark); }
.herosheet .act.a6  { top: 5.32in; }
.herosheet .act.a7  { top: 5.44in; }

.herosheet { break-before: page; }

.herosheet .pregen                { color: rgb(139,  69,  19); }
.herosheet .pregen.brigantia      { color: rgb(128,  69,   0); }
.herosheet .pregen.energy-boy     { color: rgb( 75,   0, 130); }
.herosheet .pregen.grailknight    { color: rgb(  0, 100,   0); }
.herosheet .pregen.head-librarian { color: rgb(159,  29,  53); }
.herosheet .pregen.jackdee        { color: rgb(128,   0,  32); }
.herosheet .pregen.obsidius-rex   { color: rgb( 16,  16,  16); }
.herosheet .pregen.riptide        { color: rgb(139,   0, 139); }
.herosheet .pregen.rockstar       { color: rgb(  0, 128, 128); }
.herosheet .pregen.titan          { color: rgb( 53,  94,  59); }
.herosheet .pregen.vespa          { color: rgb( 92,  67,   6); }

.herosheet .pregen strong { text-decoration: underline; }

.herosheet .pregen > p span {
  display: block;
  position: absolute;
  font-family: var(--font-pregens);
}

.herosheet .pregen > div {
  display: block;
  position: absolute;
  font-family: var(--font-pregens);
  line-height: 1.2;
}

.herosheet .pregen > div span {
  display: block;
  line-height: 1.2;
}

.herosheet .pregen .pregen-facet {
  font-size: var(--pregen-facet);
  width: 1in;
  text-align: center;
}

.herosheet .pregen .pregen-facet.action    { top:    0.25in; left:  2.75in; }
.herosheet .pregen .pregen-facet.adventure { top:    0.25in; right: 2.75in; }
.herosheet .pregen .pregen-facet.suspense  { top:    3.29in; left:  1.00in; }
.herosheet .pregen .pregen-facet.detective { top:    3.29in; right: 1.00in; }
.herosheet .pregen .pregen-facet.mystery   { bottom: 1.00in; left:  5.00in; }

.herosheet .pregen .pregen-name { 
  top: 0.85in;
  left: 4.0in; 
  right: 4.0in; 
  text-align: center; 
  font-size: var(--pregen-name); 
}

.herosheet .pregen .pregen-name.shrink { font-size: var(--pregen-name-shrink); }
.herosheet .pregen .pregen-name.shrink2 { font-size: var(--pregen-name-shrink2); }

.herosheet .pregen .pregen-class {
  top: 0.95in;
  left: 0.50in;
  font-size: var(--pregen-class);
  width: 2.25in;
  text-align: center;
}

.herosheet .pregen .pregen-nickname  {
  top: 1.02in;
  right: 0.55in;
  width: 2.25in;
  text-align: center;
  font-size: var(--pregen);
}

.herosheet .pregen .pregen-pronouns  {
  top: 1.70in;
  right: 0.55in;
  width: 1in;
  font-size: var(--pregen);
  text-align: center;
}

.herosheet .pregen .pregen-health {
  font-size: var(--pregen-name);
  top: 2.75in; left: 0.675in; 
}

.herosheet .pregen .pregen-might {
  font-size: var(--pregen-name);
  top: 2.75in; right: 0.675in;
}

.herosheet .pregen .pregen-fighting-style {
  top: 2.05in; 
  width: 1.25in; 
  right: 2.20in;
  text-align: left;
  font-size: var(--pregen);
  line-height: 1.15;
  text-align: center;
}

.herosheet .pregen .pregen-skills .pregen-skill { width: 100%; }

.herosheet .pregen .pregen-skills {
  top: 2.05in;
  left: 2.20in;
  width: 1.25in;
  font-size: var(--pregen);
  text-align: center;
  line-height: 1.15;
}

.herosheet .pregen .pregen-ability-class {
  top: 3.75in;
  right: 6.10in;
  font-size: var(--pregen-small);
  width: 2.80in;
  line-height: 1.15;
}

.herosheet .pregen .pregen-ability-v1 {
  top: 3.75in;
  width: 2.8in;
  left: 6.20in;
  font-size: var(--pregen-small);
  line-height: 1.15;
}

.herosheet .pregen .pregen-personal {
  top: 1.910in;
  left: 5.55in;
  font-size: var(--pregen);
  width: 1.9in;
  text-align: center;
}

.herosheet .pregen .pregen-word { text-align: center; }

.herosheet .pregen .pregen-core {
  top: 1.910in;
  right: 5.55in;
  font-size: var(--pregen);
  width: 1.9in;
}

.herosheet .pregen .pregen-nova {
  top: 2.85in;
  right: 5.55in;
  width: 1.9in;
  font-size: var(--pregen);
}

.herosheet .pregen .pregen-ideal { 
  font-size: var(--pregen-class); 
  width: 2.125in; 
  text-align: left; 
}

.herosheet .pregen .pregen-ideal.shrink { font-size: var(--pregen-class-shrink); } 
.herosheet .pregen .pregen-ideal.pregen-i1 { top: 1.375in; left:  2.375in; }
.herosheet .pregen .pregen-ideal.pregen-i2 { top: 1.375in; right: 2.000in;}

.herosheet .pregen .pregen-ideal.pregen-i3 { top: 4.375in; left:  0.625in; }
.herosheet .pregen .pregen-ideal.pregen-i4 { top: 4.375in; right: 0.250in; }

.herosheet .pregen .pregen-ideal.pregen-i5 { bottom: 0.500in; left: 4.625in; }

.herosheet .pregen .pregen-volume { top: 1.655in; left:  1.20in; }

.herosheet .pregen .pregen-bio { 
  bottom: 1.00in; 
  right: 0.70in; 
  width: 2.5in; 
  font-size: var(--pregen); 
  text-align: right; 
}

.herosheet .pregen .pregen-storyline { 
  bottom: 1.00in; 
  left: 0.70in; 
  width: 2.7in; 
  font-size: var(--pregen); 
  text-align: left; 
}

.herosheet .pregen img.pregen-face { 
  box-sizing: border-box;
  width: 1.00in; 
  height: 1.00in; 
  transform: rotate(45deg); 
  top: 3.25in;
  left: 5in;
  position: absolute;
  background: white;
  border: 0.5pt solid black;
}

@page whatswhat { margin: 0; padding: 0; }

@page whatswhat { @bottom-center { content: normal; } }

#what-page { page: whatswhat; }

#what-page ul { 
  margin: 0; 
  position: absolute; 
  bottom: 415pt;
  right: 23pt; 
  width: 170pt; 
  break-inside: avoid;
}
#what-page ul li { 
  margin: 0; 
  break-inside: avoid;
  list-style-type: none; 
  color: white;
  background-color: #800000;
  font-family: var(--font-what);;
  line-height: 0.92;
  padding-top: 1pt;
  padding-bottom: 1pt;
  padding-left: 2pt;
  padding-right: 2pt;
  font-size: var(--what-size);
  transform: scaleY(0.85);
}

#what-page ul li a { color: white; }

#what-page ul li a:before { content: target-content(attr(href)) ' '; }
#what-page ul li a:after  { content: leader(' ') target-counter(attr(href), page); }

#what-page img.ww {
  position: absolute;
  top: 0;
  right: 0;
  width: 477pt;
  height: 733pt;
}

#section-what :matches(h1, h2, h3, h4, h5, h6) {
  font-family: var(--font-h2);
}

#section-what figure {
  break-inside: avoid;
  break-after: avoid;
  float: right; 
  margin-left: 0.5em;
  border: 0.5pt solid var(--color-sheet-dark);
  border-radius:     var(--border-radius);
  margin-bottom: 0.5em;
}

#section-what ul { margin: 0; }
#section-what ul li { 
  margin: 0;
  margin-left: 1em; 
  margin-bottom: 2pt;
  text-indent: -1em; 
  list-style-type: none;
  line-height: 1.0;
}

#section-what .sidebar p {
  text-align: left;
}

#section-what p {
  line-height: 1.1;
  text-align: justify;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
#section-what figure img { 
  height: auto; 
  width: 1in; 
}

#section-what .stats {
  border-radius:     var(--border-radius);
  border: 0.5pt solid var(--color-sheet-light);
  padding-left: 4pt;
  padding-right: 4pt;
  padding-top: 2pt;
  padding-bottom: 2pt;
  break-inside: avoid-page;
}

#section-what .stats :matches(h1, h2, h3, h4, h5, h6) {
  font-size: var(--h5);
  font-family: var(--font-h4);
  break-after: avoid;
  margin-top: 0;
}

#section-what .bio2 {
  column-count: 2;
  column-gap: 2em;
}

#section-what .group {
  padding-left: 4pt;
  padding-right: 4pt;
  padding-top: 2pt;
  padding-bottom: 2pt;
  break-inside: avoid-page;
  border: 0.5pt solid var(--color-sheet-dark);
  border-radius:     var(--border-radius);
}

#section-what .stats > ul > li:nth-child(4) {
  display: inline-block;
  width: auto;
}

#section-what .stats > ul > li:nth-child(3) {
  display: inline-block;
  margin: 0; text-indent: 0;
  box-sizing: border-box;
  width: 50%;
}

