@import url("config.css");

#team-sheet     { page: teamsheet; column-span: all;    }
header          { display: none;                        }
header p.date   { string-set: date     content();       }
header h1       { string-set: gamename content();       }

@page teamsheet { size:          var(--page-size);
                  margin:        var(--page-margin);
	          margin-bottom: var(--page-margin);    }
@page teamsheet { @top-left      { content: normal; }   }
@page teamsheet { @top-right     { content: normal; }   }
@page teamsheet { @bottom-center { content: normal; }   }
@page teamsheet { background: white;                    }

h1 { font-size: var(--h1); font-family: var(--font-h1); }
h2 { font-size: var(--h2); font-family: var(--font-h2); }
h3 { font-size: var(--h3); font-family: var(--font-h3); }
h4 { font-size: var(--h4); font-family: var(--font-h4); }
h5 { font-size: var(--h5); font-family: var(--font-h5); }
h6 { font-size: var(--h6); font-family: var(--font-h6); }

#team-sheet ul { margin: 0; padding: 0; }
#team-sheet li { margin: 0; padding: 0; list-style-type: none; }

#team-sheet .sheet-box {
  width:   100%; height: 1in; display: block;
  border:  0.5pt solid black; content: " ";
}

#team-sheet img.clu-logo {
  height:   0.600in; width: auto; 
  position: absolute; top: 0; left: 0;
}

#team-sheet img.hd-logo {
  height:   0.600in; width: auto; 
  position: absolute; top: 0; right: 0;
}

#team-sheet .hd-logo-copy { /* copyright notice */
  transform-origin: top right;
  transform:        rotate(-90deg);
  position:         absolute;
  right:            0; top: 0;
  color:            var(--color-sheet-light);
  font-size:        var(--sheet-tiny);
  font-family:      var(--font);
}

#team-sheet > ul > li > span.field { 
  position:      relative;
  height:        0.25in;
  border-bottom: 0.5pt solid black;
}

/* members ======================================================================================= */

#team-sheet > .members.section { column-count: 2; column-gap: 8pt; }

#team-sheet > .members.section > ul > li { 
  border-radius: 0.0625in 0.0625in;
  border:        0.5pt solid black;
  height:        0.125in; 
  position:      relative;
  display:       block;
}

#team-sheet > .members.section > ul > li > span { 
  background-color: silver; 
  border:           0.5pt solid var(--color-sheet-light); 
  height:           0.125in; 
  display:          inline-block; 
  width:            1.50in;
  display:          inline-block; position: absolute; top: 0; left: 0; right: 0;
  font-family:      var(--font-sheet-2); font-size: var(--sheet-tiny);
}

#team-sheet > .members.section > ul > li > span:before {
  display:     block; position: absolute; top: 0; left: 0; right: 0;
  font-family: var(--font-sheet-2); font-size: var(--sheet-tiny);
  border:      0.5pt solid var(--color-sheet-light);
  background:  gray;
  content:     "*";
}

#team-sheet > .members.section > ul > li > span:after {
  text-align:  center; display: block; position: absolute;
  left:        0; right: 0; bottom: 0;
  color:       var(--color-sheet-dark);
  font-size:   var(--sheet-box); font-family: var(--font-sheet-box);
}

#team-sheet > .members.section > ul > li > span:nth-child(1)        { width: 1in;             }
#team-sheet > .members.section > ul > li > span:nth-child(2)        { width: 2in;             }
#team-sheet > .members.section > ul > li > span:nth-child(3)        { width: 1in;             }
#team-sheet > .members.section > ul > li > span:nth-child(4)        { width: 0.5in;           }
#team-sheet > .members.section > ul > li > span:nth-child(1):before { content: "Founder?";    }
#team-sheet > .members.section > ul > li > span:nth-child(2):before { content: "Member Name"; }
#team-sheet > .members.section > ul > li > span:nth-child(3):before { content: "Class";       }
#team-sheet > .members.section > ul > li > span:nth-child(4):before { content: "Core Class?"; }
#team-sheet > .members.section > ul > li > span:nth-child(1):after  { content: '\002610';     }
#team-sheet > .members.section > ul > li > span:nth-child(4):after  { content: '\002610';     }

/* basics =========================================================================================== */

#team-sheet > .header > .basics.line > ul > li { 
  border:        0.5pt solid var(--color-sheet-light);
  border-radius: 0.25in 0.25in;
  display:       inline-block; 
  color:         var(--color-sheet-dark);
  height:        0.50in; padding-left:  0.25in;
  display:       inline-block; 
  font-size:     var(--sheet-tiny); font-family: var(--font-sheet-2); 
}

#team-sheet > .header > .basics.line > ul > li              { display: inline-block; }
#team-sheet > .header > .basics.line > ul > li:nth-child(1) { width: 2.50in;         }
#team-sheet > .header > .basics.line > ul > li:nth-child(2) { width: 1.50in;         }
#team-sheet > .header > .basics.line > ul > li:nth-child(3) { width: 0.625in;        }

#team-sheet > .header > .line :matches(h1, h2, h3, h4, h5, h6) {
  font-size: var(--body); font-family: var(--font-header);
}

#team-sheet :matches(h1, h2, h3, h4, h5, h6) { text-align: center; }

/* team-approach ==================================================================================== */

#team-sheet > .header > .line.approach > ul > li                  { display: inline-block;           }
#team-sheet > .header > .line.approach > ul > li > span.action    { color:   var(--color-action);    }
#team-sheet > .header > .line.approach > ul > li > span.adventure { color:   var(--color-adventure); }
#team-sheet > .header > .line.approach > ul > li > span.detective { color:   var(--color-detective); }
#team-sheet > .header > .line.approach > ul > li > span.mystery   { color:   var(--color-mystery);   }
#team-sheet > .header > .line.approach > ul > li > span.suspense  { color:   var(--color-suspense);  }

#team-sheet > .header > .line.approach > ul { text-align: center; }

#team-sheet > .header > .line.approach > ul > li > span {
  width:         0.90in; height: 0.65in;
  display:       inline-block;
  margin-right:  2pt; margin-left: 2pt; padding-top: 2pt;
  text-align:    center;
  font-size:     var(--sheet); font-family: var(--font-h4);
  border:        0.50pt solid black;
  border-radius: var(--border-radius);
  box-shadow:    var(--box-shadow) /* var(--color-shadow) */;
}

/* ================================================================================================== */

